
{% extends "base.html" %}

{% block content %}
    <h1>Add a new quiz here</h1>
    
    <div>
        <form action="" method="POST" novalidate>
            {{ add_quiz_form.hidden_tag() }}
            <p>
                {{ add_quiz_form.subject.label }}<br>
                {{ add_quiz_form.subject(size=32) }}
                {% for error in add_quiz_form.subject.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ add_quiz_form.num_of_questions.label }}<br>
                {{ add_quiz_form.num_of_questions(size=32) }}
                {% for error in add_quiz_form.num_of_questions.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ add_quiz_form.date.label }}<br>
                {{ add_quiz_form.date(size=32) }}
                {% for error in add_quiz_form.date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ add_quiz_form.submit() }}</p>
        </form>
    </div>
{% endblock %}