
{% extends "base.html" %}

{% block content %}
    <h1>Add a new student here</h1>
    
    <div>
        <form action="" method="POST" novalidate>
            {{ add_student_form.hidden_tag() }}
            <p>
                {{ add_student_form.first_name.label }}<br>
                {{ add_student_form.first_name(size=32) }}
                {% for error in add_student_form.first_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ add_student_form.last_name.label }}<br>
                {{ add_student_form.last_name(size=32) }}
                {% for error in add_student_form.last_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ add_student_form.submit() }}</p>
        </form>
    </div>
{% endblock %}