
{% extends "base.html" %}

{% block content %}

    <h1>Hello, You are logged in as {{ current_user.username }}.</h1>

    <div>
        <h3>View your Students here:</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last Name</th>
            </tr>
            {% for student in students %}
            <tr>
                <td><a href="{{ url_for("student_results", student_id=student.id) }}">{{ student.id }}</a></td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
            </tr>
            {% endfor %}
        </table>
    <div>

    <div>
        <h3>View your Quizzes here:</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Subject</th>
                <th>Number of Questions</th>
                <th>Date</th>
            <tr>
            {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.subject }}</td>
                <td>{{ quiz.num_of_questions }}</td>
                <td>{{ quiz.date }}</td>
            <tr>
            {% endfor %}
        </table>
    <div>

{% endblock %}
